.container {
  margin: auto;
  nav {
    ul {
      li {
        ul {
          .labels {
            list-style: none;
            background-color: yellow;
          }
        }
      }
    }
  }
}
