  <div class="container-fluid">
    <div class="header">
      <h2 class="text-muted">TIY Gradebook</h2>
    </div>
    <nav ng-repeat="">
      <h3><a href="https://github.com/TheIronYard--Orlando/2015--SUMMER--FEE">{{repo.name}}</a></h3>
      <ul class="list-group" ng-repeat="milestones">
        <li class="list-group-item">
          <h4><a href="#milestone">{{milestone}}</a></h4>
          <div class="progress">
            <div class="progress-bar" style="width: 30%">{{labels}}</div>
            <div class="progress-bar" style="width: 30%; background-color: green">{{labels}}</div>
            <div class="progress-bar" style="width: 40%; background-color:red">{{labels}}</div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
<!-- container -->
