<div class="container-fluid">
  <nav>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="assignment in cohort.assignments">
        <h4><a href="{{assignment.html_url}}">{{assignment.title}}</a></h4>
        <div class="progress">
          <div class="progress-bar" style="width: 30%">{{labels}}</div>
          <div class="progress-bar" style="width: 30%; background-color: green">{{labels}}</div>
          <div class="progress-bar" style="width: 40%; background-color:red">{{labels}}</div>
        </div>
      </li>
    </ul>
  </nav>
</div>

<!-- container -->
