<h2>TIY Orlando Gradebook</h2>
<h3>2015--SUMMER--FEE</h3>
<ul class="list-group" ng-controller="CohortController as cohort">
  <li class="list-group-item" ng-repeat="assignment in cohort.assignments">
    <big><a href="{{ assignment.html_url }}">
      <strong>{{ assignment.title }}</strong></a>
      ({{assignment.issues.length}})
    </big>
    <div class="progress">
      <span class="progress-bar progress-bar-verygood" style="width: 20%; background-color: green;">
        20% (2)
      </span>
      <span class="progress-bar progress-bar-keeppracticing" style="width: 40%; background-color: orange;">
        40% (4)
      </span>
      <span class="progress-bar progress-bar-notyet" style="width: 30%; background-color: red;">
        30% (3)
      </span>
      <span class="progress-bar progress-bar-ungraded progress-bar-striped" style="width: 10%; background-color: lightgray;">
        10% (1)
      </span>
    </div>
  </li>
</ul>
