<h2>TIY Orlando Gradebook</h2>
<h3>Available Classes</h3>
<div class="list-group">
  <li href="milestones.html" class="list-group-item" ng-repeat="repo in app.repos">
    <big><strong>{{repo.name}}</strong></big><br>
    <author>
      Instructor: {{repo.created_by}}
      <a href="{{repo.created_by_url}}">@al-the-x</a>
    </author>
    <nav>
      <a href="#" ng-click="app.page('milestones')">Assignments</a>
      <a href="{{repo.attendance}}">Attendance</a>
      <a href="{{repo.github}}">Github</a>
    </nav>
  </li>
</div>
