<h2>TIY Orlando Gradebook</h2>
<h3>Available Classes</h3>
<div class="list-group">
  <a href="{{milestones.html}}" class="list-group-item">
    <big><strong>{{repos.name}}</strong></big><br>
    <small>Instructor: {{user?}}</small>
  </a>
  <li href="milestones.html" class="list-group-item">
    <big><strong>2015--SUMMER--ROR</strong></big><br>
    <small>
      Instructor: Brian Gates
      (<a href="https://github.com/bgates">@bgates</a>)
    </small>
  </li>
  <a href="milestones.html" class="list-group-item">
    <big><strong>{{2015--SUMMER--FEE}}</strong></big><br>
    <small>Instructor: {{user}}</small>
  </a>
  <a href="{{milestones.html}}" class="list-group-item">
    <big><strong>{{ROR--2015--SPRING}}</strong></big><br>
    <small>Instructor: {{user}}</small>
  </a>
  <a href="milestones.html" class="list-group-item">
    <big><strong>{{iOS--2015--SPRING}}</strong></big><br>
    <small>Instructor: {{user}}</small>
  </a>
</div>
