<div class="container">
  <div id="class_list">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="repo in app.repo">
        <h3>{{repo.name}}</h3>
        <author>{{repo.created_by.name}}
          <a href="https://github.com/al-the-x">@{{repo.created_bylogin}}</a>
        </author>
        <nav>
          <a href="#" ng-click="app.page('milestones')">Assignments</a>
          <a href="https://github.com/TheIronYard--Orlando/2015--SUMMER--FEE/issues?q=label%3A">Attendance</a>
          <a href="https://github.com/TheIronYard--Orlando/2015--SUMMER--FEE">Github</a>
        </nav>
      </li>
    </ul>
  </div><!-- #class_list -->

</div><!--.container-->
